@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	src: url("/assets/Inter-3.19/Inter Variable/Inter.ttf") format("truetype");
}

@font-face {
	font-family: 'Aurebesh Pro Font';
	src: url("/assets/GSAurebeshPro/GSAurebeshPro-VariableVF.ttf") format("truetype");
	unicode-range: U+00-FF;
}

@layer components {
	.nav-icon-background {
		@apply rounded-full bg-orange-700 flex items-center justify-center h-[45px] w-[45px] md:h-[30px] md:w-[30px] dark:bg-zinc-50 print:bg-slate-900;
	}

	.section-title {
		@apply mb-2 text-4xl font-bold tracking-tighter border-b-2 border-orange-700 text-slate-900 dark:text-zinc-100 dark:border-orange-600 print:border-slate-900;
	}

	.experince-subsection {
		@apply flex flex-col gap-2 md:col-span-2 lg:col-span-2 lg:flex-row lg:gap-x-6 2xl:col-span-1 2xl:gap-x-10;
	}

	.subsection-title {
		@apply flex gap-1 font-bold lg:w-max;
	}

	.subsection-subtitle {
		@apply flex font-normal leading-5 gap-x-1 lg:flex lg:flex-col;
	}
}
